/*///////////////////////////////////////////////////////
  Navbar
////////////////////////////////////////////////////////*/

/* Fix Android Apparently */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {padding:0;}
  to {padding:0;}
}

.navbar{
  background-color: transparentize($color5, 0.1);
  width: 100%;
  min-height: $navbar-height;
  color: $color1;
  position: fixed;
  top: 0; // Sticky Doens't Work Otherwise ¯\_(ツ)_/¯
  margin-bottom: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  ul{ // Mobile Style
    list-style:none;
    margin: 0;
    padding: 0;
    //width: 100%;
    display: none; // Default Mobile to Closed
    li{
      text-align: center;
      margin: 2.5vh 0;
      a{
        color: $color1;
        text-decoration: none;
        &:hover{
          color: darken($color1, 15%);
        }
      }
    }
  }
  #NavbarExpand{
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul{
      display:block !important;
      @media (min-width:$Navbar-Breakpoint){
        display: flex; // Make Links Visible for desktop
        flex-direction: row;
      }
    }
  }
  label{
    //flex: 1;
    width: 100%;
    height: $navbar-height;
    line-height: $navbar-height;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size:4.8vw;
    font-weight: 100;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    user-select: none;
    color: $color1;
    &:after{
      position: absolute;
      right: 2.5vw;
      top: 0em;
      content:"\2261"; // Hamburger Icon ("Identical To" Unicode)
      font-size:4.6rem;
    }
  }
  #logo,#cart{
    //width: 50px;
    //height: 50px;
    display: block;
    //background-color: grey;
    a{
      img, svg{
        width: auto;
        height: $navbar-height - 20px;
      }
    }
  }
  #logo{
    position: absolute;
    left: 2.5vw;
    top: 10px; //
  }
  #cart{
    display: none;
  }
  @media(min-width:$Navbar-Breakpoint){ // Desktop Styles
    flex-direction: row;
    max-height: $navbar-height;
    ul {
      flex: 1;
      display: flex;
      flex-direction: row;
      li {
        position:relative;
        text-align: center;
        flex: 1;
        &:hover > ul {
          display: block !important;
        }
      }
      li.mobile-only{
        display: none;
      }
    }
    label {
      display:none;
    }
    #logo,#cart{
      margin: 0 10vw;
      position: relative;
      top:0;left:0;
      display: block;
    }
  }
}

.navbar + *{ // Add Margin to next element (Because position:fixed, works better than sticky, that jumps when open/closed)
  margin-top: $navbar-height;
}
