/*///////////////////////////////////////////////////////
  Colours
////////////////////////////////////////////////////////*/

$color1: rgba(246, 246, 255, 1); // GHOST WHITE
$color2: rgba(027, 027, 027, 1); // EERIE BLACK
$color3: rgba(035, 043, 043, 1); // CHARLESTON GREEN
$color4: rgba(088, 084, 091, 1); // DAVY'S GREY
$color5: rgba(054, 012, 204, 1); // INTERDIMENSIONAL BLUE

/*///////////////////////////////////////////////////////
  Variables
////////////////////////////////////////////////////////*/

$Breakpoint: 48em; // Transition Point From Mobile To Desktop
$Navbar-Breakpoint: $Breakpoint;
$navbar-height: 70px;
