@import 'variables';
@import 'mixins';

.customiser{
  #three-container{
    width: 100%;
    height: 80vh;
  }
  .picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 8.5vw;
    }
    .swatches{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .swatch{
        border: 1px solid $color2;
        text-align: center;
        margin: 20px;
        padding: 20px;
        div{
          width: 192px;
          height: 192px;
          border: 1px solid $color2;
        }
        span{
          font-size: 2.8rem;
        }
      }
    }
  }
  .purchase-controls{
    display: flex;
    justify-content: center;
    margin: 20px;
    a{
      margin: 15px;
    }
  }
  @media(max-width:$Breakpoint){ // Mobile Styles
    #three-container{
      height: 65vh;
    }
  }
}
