@import 'variables';
@import 'mixins';

.promo{
  width: 100%;
  height: 100vh;
  margin-top: calc(#{$navbar-height}*-1); // I want the background image under the navbar
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/Assets/Images/Skateboards/Promo-Background.jpg');
  background-size: cover;
  background-position: center;
  h1{
    font-weight: 100;
    font-size: 12vw;
    letter-spacing: 1vw;
    margin: 0;
    margin-bottom: 8.5vh;
    color: $color3;
    z-index: 2;
    text-shadow: 2px 2px 0px $color1;
  }
  #PROJEKT23Logo{
    width: auto;
    height: 50vh;
  }
  #Scroll-Indicator{
    width: 75px;
    height: auto;
    position: absolute;
    bottom: 0;
    margin: 10px auto;
  }
}

.spotlight{
  width: 100%;;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container{
    background-color: $color3;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .display{
      width: 38vh;
      height: 38vh;
      background-image: linear-gradient(to right, $color1 50%, $color3 50%);
      img{
        width: 100%;
        height: 100%;
      }
    }
    .details{
      background-color: $color1;
      width: 38vh;
      height: 38vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2{
        font-size: 3vw;
        margin: 0;
      }
      span{
        margin: 1.5vw;
      }
    }
  }
  @media(max-width:$Breakpoint){ // Mobile Styles
    height: 95vh;
    .container{
      flex-direction: column;
      .display{

        img{

        }
      }
      .details{
        h2{
          font-size: 9vw;
        }
        span{
          margin: 3.5vw;
        }
      }
    }
  }
}

.testimonials{
  width: 100%;;
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .testimonial{
    width: 28vw;
    height: 28vw;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.7);
    img{
      width: 28vw;
    }
    .testimonial-description{
      height: 14vw;
      padding: 0 10% 0 10%;
      display: flex;
      flex-direction: column;
      //justify-content: flex-end;
      h2{
        font-size: 3.2vw;
        margin: 0;
      }
      span{
        font-weight: 300;
      }
      .likes{
        font-size: 1.75vw;
        margin-top: auto;
        margin-bottom: 1.5vw;
      }
    }
  }
  @media(max-width:$Breakpoint){ // Mobile Styles
    height: 250vw;
    flex-direction: column;
    .testimonial{
      width: 70vw;
      height: 70vw;
      img{
        width: 70vw;
      }
      .testimonial-description{
        h2{
          font-size: 5.2vw;
        }
        span{
        }
        .likes{
          align-self: flex-end;
          font-size: 3.2vw;
        }
      }
    }
  }
}

.guarantee{
  width: 100%;
  height: 40vh;
  background-image: url("/Assets/Images/Map.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1{
    font:{
      size: 6vw;
      weight: 100;
    }
    margin: 0;
  }
  span{
    font:{
      size: 1.5vw;
      weight: 100;
    }
  }
  @media(max-width:$Breakpoint){ // Mobile Styles
    h1{
      font-size: 13vw;

    }
    span{
      font-size: 6vw;
      margin: 0 10vw;
    }
  }
}
