@import 'variables';
@import 'mixins';

.employees{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: $navbar-height + 50px;
  .employee{
    display: flex;
    width: 80vw;
    border: 1px solid $color5;
    margin: 50px 0;
    img{
      width: 40vw;
      height: 20vw;
    }
    .employee-description{
      width: 40vw;
      height: 20vw;
      box-sizing: border-box;
      padding: 2.5vw;
      background-color: darken($color1, 1.5%);
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      .name{
        font-size: 3.5vw;
        color: $color5
      }
      .role{
        font-size: 2.5vw;
      }
      .contact-btn{
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }
  @media(max-width:$Breakpoint){ // Mobile Styles
    margin-top: $navbar-height;
    .employee{
      flex-direction: column;
      width: 80vw;
      img{
        width: 80vw;
        height: 40vw;
      }
      .employee-description{
        width: 80vw;
        height: 80vw;
        .name{
          font-size: 8.5vw;
          color: $color5
        }
        .role{
          font-size: 6.5vw;
        }
      }
    }
  }
}
